/* Centering and background */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #081b29;
    color: #fff;
}

/* Form styling */
.login-form {
    background-color: #111;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.login-error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/* Input styling */
.login-input-container {
    margin-bottom: 20px;
}

.login-label {
    display: block;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #222;
    color: #fff;
}

/* Button styling */
.login-button-container {
    display: flex;
    justify-content: space-between;
}

.login-button,
.signup-button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-button {
    background-color: #007bff;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-button {
    background-color: #28a745;
}

.signup-button:hover {
    background-color: #218838;
}
